@model Tarefa

@{
    ViewData["Title"] = "Cadastro de Tarefas";
}

<h2 class="text-center">Cadastro de Tarefa</h2>

<form asp-action="@(Model?.IdTarefa == 0 ? "Create" : "Update")" class="p-4 bg-white rounded shadow">

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success w-100">
            @TempData["MensagemSucesso"]
        </div>
    }

    <!-- Campo oculto para armazenar o Id da Tarefa -->
    <input type="hidden" asp-for="IdTarefa" value="@Model.IdTarefa" />

    <!-- Campo para Descrição -->
    <div class="form-group">
        <label>Descrição</label>
        <input type="text" class="form-control" asp-for="Descricao" required />
    </div>

    <!-- Campo para Setor -->
    <div class="form-group">
        <label>Setor</label>
        <input type="text" class="form-control" asp-for="Setor" required />
    </div>

    <!-- Dropdown de Usuários -->
    <div class="form-group">
        <label>Usuário:</label>
        <select class="form-control" asp-for="IdUsuario" required>
            <option value="">Selecione o usuário</option>
            @foreach (var usuario in ViewBag.Usuarios)
            {
                <option value="@usuario.IdUsuario">@usuario.Nome</option>
            }
        </select>
    </div>

    <!-- Dropdown de Prioridades -->
    <div class="form-group">
        <label>Prioridade:</label>
        <select class="form-control" asp-for="IdPrioridade" required>
            <option value="">Selecione a prioridade</option>
            @foreach (var prioridade in ViewBag.Prioridades)
            {
                <option value="@prioridade.IdPrioridade">@prioridade.Titulo</option>
            }
        </select>
    </div>

    <!-- Botão de Salvar -->
    <button type="submit" class="btn btn-primary w-100 mt-3">Salvar</button>
</form>
